.container{
    margin: 23px;padding: 23px;border: 2px solid salmon;
    background-color: aquamarine;
}
.childContainer{
    margin: 23px;padding: 23px;border: 2px solid salmon;
    
}.child{
    margin: 23px;padding: 23px;border: 2px solid salmon;
    background-color: blue;
}